#pix{
	width: 80px;
	height: 60px;
	padding-top: 15px;
	padding-left: 50px;
}

.dropdown{
	float: right;
	padding-top:30px;
	padding-right: 100px;
}
  

.nav{
	border:solid 5px 	linear-gradient( #cc0000, #4d0000 );
	background: linear-gradient(  #cc0000, #4d0000);
}

.content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding-right: 100px;
    
}

.content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
} 

.content a:hover {
	background-color: red;
}

.dropdown:hover .content {
    display: block;
}


.dropdown:hover #drop {
    background-color: #3e8e41;
}

#drop{
	radius:100px;
	width: 80px;
	height: 30px;
	border-radius: 100px;
	background: orange;
}


h1{
	text-align: center;
}
h3{
	text-align: center;
}

.body img{
	width: 1000px;
	height:600px;
	padding-top: 0px;
	padding-left: 168px;
	padding-bottom: 30px;

}
.body{
	background: #f4f4d7;
	padding-top: 10px;
}





.footer2{
	text-align: center;
	padding-top: 30px;
	background: 	  #4d0000;
	font-size: 20px;
}
.footer2 img{
	    margin:10px;
}
